body{
    background-image: linear-gradient(to right top, #051937, #004d7a, #008793, #00bf72, #a8eb12);    padding-left: 2rem;
    padding-right: 2rem;
    text-align: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    
}

@font-face{
    font-family: 'Monoton';
    src: url("Monoton-Regular.ttf");
}

.title {
    padding: 0.75rem;
    border:solid 8px #f1f1f1;
    max-width: fit-content;
    overflow-wrap: break-word;
    margin: 70px auto;
    border-radius: 8px;
    background: #f7f7f71a;
    box-shadow:  20px 20px 60px  #ffbb8e17, 
                -20px -20px 60px #ffbb8e18;
}

.title p{
    font-family: 'Monoton';
    font-size: 3.5rem;
    overflow-wrap: break-word;
    background: linear-gradient(145deg, #2f32ff, #000dbe);
    text-shadow: 0px 0px 10px rgba(255, 255, 255, 0.2);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.colour {
 display: flex;
 justify-content:center;

}

.coloq1 {
    position: relative;
    width: 75px;
    height: 75px;
    border: none;
    border-radius: 40px;
    overflow: hidden;
    margin-right: 50px;
    box-shadow:  20px 20px 60px  #fdf0e813, 
                -20px -20px 60px #fffbf818;
}

.coloq2 {
    position: relative;
    width: 75px;
    height: 75px;
    border: none;
    border-radius: 40px;
    overflow: hidden;
    margin-left: 50px;
    box-shadow:  20px 20px 60px  #fdf0e813, 
                -20px -20px 60px #fffbf818;
}
.colo1 {
    position: absolute;
    width: 100px;
    height: 100px;
    top: -10px;
    right: -10px;
    border: none;
}

.codeTitle{
    padding: 0.75rem;
    border:solid 8px #f1f1f169;
    border-radius: 8px;
    font-size: 2rem;
    max-width: fit-content;
    overflow-wrap: break-word;
    margin: 100px  auto;
    background: #f7f7f71a;
    box-shadow:  20px 20px 60px  #ffbb8e0e, 
                -20px -20px 60px #ffbb8e0e;
    font-family: 'Mitr', sans-serif;
}

.graTitle{
    padding: 0.75rem;
    border-radius: 8px;
    border-left:solid 8px #f1f1f1;
    font-size: 1.4rem;
    margin: 100px auto;
    max-width: fit-content;
    overflow-wrap: break-word;
    background: #f7f7f71a;
    box-shadow:  20px 20px 60px  #fdf0e813, 
                -20px -20px 60px #fffbf818;

    font-family: 'Exo 2', sans-serif;
}


footer{
    color: #b4b4b4;
    position: fixed;
    text-align: center;
    bottom: 0;
    left: 0;
    width: 100%;
    border: none;
    background: #fffbf818;

font-family: 'Tomorrow', sans-serif;

}