body{
    font-family: 'Coda', cursive;
}
.sama{
    /*background: linear-gradient(to right, #1cb5e0, #000046 );    margin-right: -0.5rem;*/
    background: linear-gradient(to right, #bdc3c7, #2c3e50);
    margin-right: -0.5rem;
    margin-left: -0.5rem;
    margin-top: -0.5rem;
    padding-bottom: 2px;
    padding-top: 2px;
    padding-left: 50px;
    color: white;
    font-size: 30px;
    font-family: 'Londrina Outline', cursive;
}

.sama h1 {
    color: #ffffff;
    text-shadow:  5px 5px 20px  #66ffa633, 
    -5px -5px 20px #66ffa633;
}
.duka{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    background: #f5f5f5;
    margin-right: -0.5rem;
    margin-left: -0.5rem;
    padding-top: 20px;
    height: 100vh;
}

/* Bloc gauche et droite*/
.aside{
width: 40%;
}

/* Bloc gauche*/
.saisi1{
border:  1px solid #00b147;
border-radius: 5px;
margin: 20px 20px;
padding: 30px ;
background: white;
box-shadow:  5px 5px 10px  #66ffa633, 
                -5px -5px 10px #66ffa633;

}

.saisi2{
    border:  1px solid #bb002f;
    border-radius: 5px;
    margin: 40px 20px;
    padding: 30px;
    background: white;
    box-shadow:  5px 5px 10px  #ff59821f, 
                -5px -5px 10px #ff598228;
    
    }

input{
    width: 100%;
    height: 40px;
    margin: 10px auto;
    box-sizing: border-box;
    
}

label, button{
    margin-top: 10px;
}

.saisi1 button {

    font-size: 0.9rem;
    padding:10px;
    font-family: 'Play', sans-serif;
    background-color: #66ffa686;
    border: solid 1.49px #02df5e;
    border-radius: 5px;
    box-shadow:  5px 5px 10px  #66ffa633, 
                -5px -5px 10px #66ffa633;
}

.saisi2 button {

    font-size: 0.9rem;
    padding:10px;
    font-family: 'Play', sans-serif;
    background-color: #ff598254;
    border: solid 1.49px #ff5982;
    border-radius: 5px;
    box-shadow:  5px 5px 10px  #ff59821f, 
                -5px -5px 10px #ff598228;
}


/* Bloc  droite*/
.dFirst{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    margin: 20px 20px;
    border: black solid 1px;
    border:  1px solid #000000;
    border-radius: 5px;
    background: white;
    box-shadow:  5px 5px 10px  #a5a5a51f, 
                -5px -5px 10px #8b8b8b28;
}

.dSecond {
    margin: 20px 20px;
    border: black solid 1px;
    border:  1px solid #000000;
    border-radius: 5px;
    background: white;
    box-shadow:  5px 5px 10px  #a5a5a51f, 
                -5px -5px 10px #8b8b8b28;
}

.details{
    text-align: center;
    margin-right: 10%;
}

.libel{
    display: grid;
    text-align: center;
    grid-template-columns: repeat(3, 1fr);
}
.iconEdit{
    display: grid;
    text-align: center;
    align-items: center;
    grid-template-columns: repeat(3, 1fr);
}



footer {
    color: #9e9e9e;
    position: fixed;
    text-align: center;
    bottom: 0;
    left: 0;
    width: 100%;
    border: none;
    background: #dad5d188;

font-family: 'Tomorrow', sans-serif;

}



@media screen and (max-width:700px) {

    .duka{
       display: block;
    }
    
    .aside{
        width: 100%;
        }

        .sama{ 
            padding-left: 25px;
        }

        body{
            font-size: 0.85rem;
        }

        input{
            margin: 10px 7px;
        }
        
        label, button{
            margin: 10px 7px;
        }

        img{
            width: 5%;
        }
}