

html{

    height: 100%;

}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    height: 100%;
    flex-direction: column;
}

.lokaci {
    width: 400px;
    height: 500px;
    margin-top: 30vh;
    background-color: #091921;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url(i/lk.png);
    background-size: cover;
    border-radius: 3%;
 
}

.kala {
    width: 350px;
    height: 350px;
    background-color: #091921;
    

} 

.lokaci:before {
    content: '';
    position: absolute;
    width: 15px;
    height: 15px;
    background: rgb(154, 102, 46);
    border-radius: 50%;
    z-index: 10000;

}

.lokaci .awa ,
.lokaci .minti,
.lokaci .sekon,
.lokaci .lamba
{
    position: absolute;
}

.lokaci .awa, .hr {
    width: 190px;
    height: 190px;
}


.lokaci .minti, .mn {
    width: 260px;
    height: 250px;
}

.lokaci .sekon, .sc {
    width: 300px;
    height: 300px;
}

.lokaci .lamba, .lamb {
    width: 200px;
    height: 100px;
}

.hr, .mn, .sc , .lamb{
    display: flex;
    justify-content: center;
    /*align-items: center;*/
    position: absolute;
    border-radius: 50%;
}

.lamb{
    top: 42%;
    left: 70%;
    box-shadow:  5px 5px 20px #c0c0c0, 
             -5px -5px 20px #b9b9b9;

    
}

.hr:before {
    content: '';
    position: absolute;
    width: 8px;
    height: 100px;
    background: linear-gradient(to left top, #ff512f, #f09819);    box-shadow: 0 24px 38px 3px rgba(0, 0, 0, 0.14), 0 9px 46px 8px rgba(0, 0, 0, 0.12), 0 11px 15px -7px rgba(0, 0, 0, 0.2); 
    border-radius: 50%;
    z-index: 11;
    border-radius: 6px 6px 0 0;
}

.mn:before {
    content: '';
    position: absolute;
    width: 4px;
    height: 120px;
    background: linear-gradient(to left top, #c21500, #ffc500);    
    box-shadow: 0 24px 38px 3px rgba(0, 0, 0, 0.14), 0 9px 46px 8px rgba(0, 0, 0, 0.12), 0 11px 15px -7px rgba(0, 0, 0, 0.2);
    border-radius: 50%;
    z-index: 12;
    border-radius: 6px 6px 0 0;
}

.sc:before {
    content: '';
    position: absolute;
    width: 2px;
    height: 185px;
    background: linear-gradient(to right top, #c21500, #ffc500);    border-radius: 50%;
    box-shadow: 0 24px 38px 3px rgba(0, 0, 0, 0.14), 0 9px 46px 8px rgba(0, 0, 0, 0.12), 0 11px 15px -7px rgba(0, 0, 0, 0.2);
    z-index: 13;
    border-radius: 6px 6px 0 0;
}

.lamb{
 
    position: relative;
    width: 70px;
    height: 25px;
    background: linear-gradient(to right top, #c21500, #ffc500);    border-radius: 50%;
    box-shadow: 0 24px 38px 3px rgba(0, 0, 0, 0.14), 0 9px 46px 8px rgba(0, 0, 0, 0.12), 0 11px 15px -7px rgba(0, 0, 0, 0.2);
    z-index: 9;
    border-radius: 6px 6px;

    font-family: 'digitalMono';
}




footer {
    color: #d5d4d4;
    font-size: 15px;
    width: 100%;
    border: none;
    background: #dad5d188;
    padding: 8px;
    text-align: center;
    margin-top: auto;
    
    font-family: 'Tomorrow', sans-serif;
    }




@font-face{
    font-family: 'digitalMono';
    src:url("i/digitalMono.ttf");
}


