body{
    background: #E9EBEE;
    font-family: 'Play', sans-serif;
}

.option1 { grid-area: daya;}
.option2 { grid-area: byu;}
.option3 { grid-area: uku;}
.option4 { grid-area: hudu;}
.option5 { grid-area: byar;}

.time {
    display: grid;
    grid-template-areas: 
    'daya byu uku hudu byar';

    background: linear-gradient(225deg, #e3e3e3, #ffffff);
    box-shadow:  -19px 19px 38px #dedede, 
             19px -19px 38px #ffffff;


}

.time > button {
    border: solid 8px #ffff;
}

.time button {
    font-size: large;
    padding-top: 15px; 
    padding-bottom: 15px;
    font-family: 'Play', sans-serif;
}

button:hover{
    
    background-image: linear-gradient(to left bottom, #e38545, #e0873d, #dc8a34, #d88c2b, #d38f21, #c67f24, #b96f26, #aa6127, #86432b, #5c2b28, #31191c, #272727);    
    color: #fff;
    border: none;
    box-shadow:  21px 21px 100px #999999, 
                 -21px -21px 100px #ffffff;
}

.but1 {
    text-align: center;
    margin: 20px auto;
}


.but1 .selection{
    font-size: large;
    padding:20px;
    font-family: 'Play', sans-serif;
    background-color: #E38545;
    border: none;
    border-radius: 5px;
    box-shadow:  20px 20px 60px  #ffbb8e85, 
                -20px -20px 60px #ffbb8e85;
}

.material-icons{
    font-size: 40px;
    color: #999999;
}


.but1 p {
    display: flex;
    justify-content: center;
    padding: 0.75rem;
    border:solid 8px #f1f1f1;
    font-size: 12em;
    border-radius: 8px;
    margin: 200px auto;
    width: fit-content;
    background: #f7f7f7;
    box-shadow:  -19px 19px 38px #dedede, 
    19px -19px 38px #ffffff;
}



footer {
    color: #b4b4b4;
    position: fixed;
    text-align: center;
    bottom: 0;
    left: 0;
    width: 100%;
    border: none;
    background: #fffbf888;

font-family: 'Tomorrow', sans-serif;

}



