.item-img{
    width: 25%; height: 25%;
}

.card{
    box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075)
}

.card:hover{
    box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.175);
}

.navbar-brand{
    font-family: 'Eagle Lake', cursive;
}
.B{
color: #6200ea;
font-family: 'Eagle Lake', cursive;
font-size: 100px;
}

.C{
    font-family: 'Stay';
}

.toggler-icon, .fa-bars{
    color: #6200ea !important;
    

}
@font-face{
    font-family: 'Mightype';
    src: url('Mightype.otf');
}

@font-face{
    font-family: 'Stay';
    src: url('Stay.otf');
}