html{
    height: 100%;
}

body{
    font-family: 'Coda', cursive;
    height: 100%;
    display: flex;
    flex-direction: column;
    background: #f5f5f5;
}
.sama{
    /*background: linear-gradient(to right, #1cb5e0, #000046 );    margin-right: -0.5rem;*/
    background: linear-gradient(to right, #bdc3c7, #192531);
    /* margin-right: -0.5rem;
    margin-left: -0.5rem;
    margin-top: -0.5rem; */
    margin-bottom: 30px;
    padding-bottom: 45px;
    padding-top: 45px;
    padding-left: 50px;
    color: white;
   
    font-family: 'Londrina Outline', cursive;
}

.sama h1 {
    color: #ffffff;
    text-shadow:  5px 5px 20px  #66ffa633, 
    -5px -5px 20px #66ffa633; 
    font-size: 3.5rem;
}
.duka{
    /* display: flex;
    justify-content: space-around;
    flex-wrap: wrap; */
    background: #f5f5f5;
    /* margin-right: -0.5rem;
    margin-left: -0.5rem;
    padding-top: 20px;
    height: 100vh; */

  
}

/* Bloc gauche et droite*/
.aside{
width: 40%;
}
h5{
    font-size: 1rem;
}

.budget-feedback,
.expense-feedback {
  display: none;
}

.showItem {
    display: block;
  }

/* Bloc gauche*/
.budget-form{
border:  1px solid #00b147;
border-radius: 5px;
/* margin: 20px 20px; */
padding: 30px ;
background: white;
box-shadow:  5px 5px 10px  #66ffa633, 
                -5px -5px 10px #66ffa633;

}

.expense-form{
    border:  1px solid #bb002f;
    border-radius: 5px;
    /* margin: 40px 20px; */
    padding: 30px;
    background: white;
    box-shadow:  5px 5px 10px  #ff59821f, 
                -5px -5px 10px #ff598228;
    
    }

input{
    border:  0.5px solid #000000 !important;

    /* width: 100%;
    height: 40px; */
    /* margin: 10px auto; */
    /* box-sizing: border-box; */
    
}


.budget-form button {

    font-size: 0.9rem;
    padding:10px;
    font-family: 'Play', sans-serif;
    background-color: #66ffa686;
    border: solid 1.49px #02df5e;
    border-radius: 5px;
    box-shadow:  5px 5px 10px  #66ffa633, 
                -5px -5px 10px #66ffa633;
}

.expense-form button {

    font-size: 0.9rem;
    padding:10px;
    font-family: 'Play', sans-serif;
    background-color: #ff598254;
    border: solid 1.49px #ff5982;
    border-radius: 5px;
    box-shadow:  5px 5px 10px  #ff59821f, 
                -5px -5px 10px #ff598228;
}


/* Bloc  droite*/
.dFirst{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    /* margin: 20px 20px; */
    border: black solid 1px;
    border:  1px solid #000000;
    border-radius: 5px;
    width: 99%;
    margin: auto;
    background: white;
    box-shadow:  5px 5px 10px  #a5a5a51f, 
                -5px -5px 10px #8b8b8b28;
}

.sayaJery {
    /* margin: 20px 20px; */
    border: black solid 1px;
    border:  1px solid #000000;
    border-radius: 5px;
    background: white;
    box-shadow:  5px 5px 10px  #a5a5a51f, 
                -5px -5px 10px #8b8b8b28;
}

.details{
    text-align: center;
    /* margin-right: 10%; */
}



@media screen and (min-width: 900px) {
    .budget {
      font-size: 2.6rem;
    }
    .expense {
      font-size: 2.6rem;
    }
    .balance {
      font-size: 2.6rem;
    }
    .budget-icon,
    .expense-icon,
    .balance-icon {
      font-size: 3.5rem;
    }
  }

footer {
    color: #9e9e9e;
    width: 100%;
    border: none;
    background: #dad5d188;
    padding: 8px;
    text-align: center;
    margin-top: auto;
    /* height: 50px;
    bottom: 50px;
    left: 0;
    right: 0; */
    /* top: 100%; */
    /* position: absolute;*/

font-family: 'Tomorrow', sans-serif;
}



/* @media screen and (max-width:700px) {

    .duka{
       display: block;
    }
    
    .aside{
        width: 100%;
        }

        .sama{ 
            padding-left: 25px;
        }

        body{
            font-size: 0.85rem;
        }

        input{
            margin: 10px 7px;
        }
        
        label, button{
            margin: 10px 7px;
        }

        img{
            width: 5%;
        }
} */